<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=2, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <ol>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#1-problem-statement">Problem Statement</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#2-objectives">Objectives</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#3-impact-of-solving-the-problem">Impact of Solving the Problem</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#4-information-processing-model">Information Processing Model</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#5-existing-products">Existing Products</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#6-proposed-approach">Proposed Approach</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#7-implementation)">Implementation</a>
   <ul>
      <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#circuit-diagram)">Circuit Diagram</a></li>
      <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#working">Working</a></li>
      <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#microphone-signal-filtering)">Microphone Signal Filtering</a></li>
      <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#component-housing">Component Housing</a></li>
   </ul></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#8-testing-and-validation">Testing and Validation</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#9-problems-troubleshooting)">Problems and Troubleshooting</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#10-results-and-conclusion)">Results and Conclusion</a></li>
   <li><a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#11-references">References</a></li>
</ol>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">Download TAR</a></li>
          {% endif %}
          <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
        </ul>

        {% if site.github.is_project_page %}
        
        {% endif %}

        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
          </ul>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p align="right">
        <a href="https://s-nithish-kumar.github.io/Biofeedback_device_for_speech_modulation/#contents"><img src="images/up_arrow.jpg" height="30%" width="30%"></a>
        </p>
      </footer>
      
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
